@import url(base.css) (max-width:600px);

#content {
    border-right:none;
    width:74%;
}

#content .tabs ul li a {
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}

#content > .contextual {
    margin-top:10px;
}

#content > h2,.controller-wiki #content .wiki > h1:first-of-type {
    font-family:Meiryo, "Hiragino Kaku Gothic Pro", "MS PGothic", Verdana, sans-serif;
    font-size:18pt;
    font-weight:400;
}

#footer {
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
    background:url(../images/bg_footer.png) repeat-x;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-top:none;
    color:#8f969d;
}

#footer a {
    color:#c07600;
}

#header {
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    background-color:#628DB6;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    color:#8f969d;
    height:auto;
    min-height:5.3em;
    padding-left:10px;
    padding-right:10px;
}

#header h1 {
    color:#fff;
    float:none;
    font-size:18pt;
    font-weight:400;
    overflow:hidden;
}

#header h1 a,table.list thead th a {
    color:#fff;
}

#hideSidebarButton,#relations form table.issues.list td:not(:nth-child(-n+2)),#issue_tree form table.issues.list td:not(:nth-child(-n+2)) {
    display:none;
}

#history h4,.controller-news.action-index #content > h3 {
    font-family:Meiryo, "Hiragino Kaku Gothic Pro", "MS PGothic", Verdana, sans-serif;
    font-weight:400;
}

#issue-form .box fieldset,div.issue fieldset,#query_form fieldset {
    border-color:#E4C742;
}

#issue-form .box,div.issue {
    -moz-border-radius:6px;
    background-color:#fdf7bb;
    border-radius:6px;
    border:1px solid #E4C742;
}

#login-form table,#errorExplanation,div.flash,.nodata,.warning {
    -moz-border-radius:10px;
    border-radius:10px;
    border-width:1px;
}

#main {
    background-color:transparent;
}

#main-menu {
    left:auto;
    margin-right:0;
    right:10px;
}

#main-menu li a {
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
    background:#536a3f url(../images/bg_menu.png) repeat-x;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    padding:5px 14px;
}

#main-menu li a:hover {
    background:#657c44 url(../images/menu_selected.png);
}

#main-menu li,#content .tabs ul li {
    margin-right:1px;
}

#page-top {
    position: fixed;
    bottom: 50px;
    right: 5px;
    z-index: 999;
}
#page-bottom {
    position: fixed;
    bottom: 20px;
    right: 5px;
    z-index: 999;
}
#page-top a,
#page-bottom a
{
    background-color:rgba(97, 179, 41,0.5);
    text-decoration: none;
    color: #fff;
    width: 30px;
    padding: 5px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}

#relations form table.issues.list td.subject,#issue_tree form table.issues.list td.subject {
    display:block;
    white-space:normal!important;
}

#sidebar {
    -moz-border-radius:6px;
    background:#fdf7bb url(../images/bg_yellow.png) repeat-x;
    border-radius:6px;
    border:1px solid #E4C742;
    margin-right:7px;
    margin-top:1em;
    padding:6px;
}

#sidebar .wiki-anchor {
    visibility:hidden;
}

#sidebar > h3:first-child,#sidebar > :first-child > h3:first-child,#sidebar > :first-child > .contextual:first-child + h3 {
    margin-top:0;
}

#sidebar a.selected {
    background-color:#536a3f;
}

#sidebar h3,div#issue-changesets h3 {
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    background:#353d43 url(../images/bg_footer.png) repeat-x;
    border-bottom:none;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    color:#bff196;
    padding:4px 6px;
}

#sidebar iframe.follow-button:first-child {
    margin-top:.3em;
}

#top-menu {
    background-color:#3E5B76;
    font-size:8pt;
    margin-bottom:-2px;
}

#top-menu #loggedas,#header a {
    color:#8f969d;
}

#top-menu a {
    margin-left:2px;
    margin-right:2px;
}

#top-menu,#header,#footer {
    background-color:#3E5B76;
    margin:0 7px;
}

#wrapper {
    background:url(../images/pager_left.png) repeat-y left top;
    padding-left:7px;
    margin:0 20px;
}

#wrapper2 {
    background:#fff url(../images/pager_right.png) repeat-y right top;
    padding-right:7px;
}

.box {
    -moz-border-radius:6px;
    background-color:#E9FACD;
    border-radius:6px;
    border-color:#B8D573;
}

.contextual {
    float:none;
    padding-left:0!important;
}

.controller-news.action-index #content > div.wiki {
    margin-bottom:2em;
}

.controller-news.action-index #content > h3 a {
    font-size:160%;
}

.controller-wiki #content .wiki,.controller-news #content .wiki {
    font-family:Meiryo, "Hiragino Kaku Gothic Pro", "MS PGothic", Verdana, sans-serif;
    font-size:10pt;
}

.controller-wiki div.wiki li {
    margin:1em 0;
}

.icon-edit {
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
    background:#536a3f url(../images/bg_menu.png) repeat-x;
    border-radius:6px;
    color:#fff!important;
    display:block;
    text-align:center;
    border-color:#aaa #444 #444 #aaa;
    margin:15px 0;
    padding:5px;
}

.journal-link {
    font-weight:400;
}

.jstElements button {
    -moz-border-radius:3px;
    border-radius:3px;
    margin-right:1px!important;
    border-color:#d2d2d2 #606060 #606060 #d2d2d2 !important;
}

.jstElements button:active {
    border-color:#606060 #d2d2d2 #d2d2d2 #606060 !important;
}

.next-prev-links {
    font-size:18px;
    text-align:center;
}

.odd {
    background-color:#f3f3f3;
}

.sidebar_hidden {
    display:block!important;
}

.summary {
    font-style:normal;
}

.syntaxhl .no {
    background-color:#628DB6!important;
    color:#fff!important;
}

.table-container {
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}

/*noinspection CssInvalidPseudoSelector*/
.table-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}

/*noinspection CssInvalidPseudoSelector*/
.table-container::-webkit-scrollbar-thumb{
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
}



.wiki a,.wiki a:link,.wiki a:visited {
    color:#2a5685;
}

blockquote {
    -moz-box-shadow:1px 2px 2px #b4b4b4;
    background: rgba(243, 243, 243, 0.5) url(../images/bg_quote.png) no-repeat right top;
    border:1px solid #b4b4b4;
    box-shadow:1px 2px 2px #b4b4b4;
    font-style:normal;
    margin-left:2em;
}

blockquote blockquote {
    margin-right:0;
}

body {
    color:#222;
    font-family:Meiryo, "Hiragino Kaku Gothic Pro", "MS PGothic", Verdana, sans-serif;
    font-size:13px;
}

button.tab-left {
    border-top-left-radius:3px;
    right:45px;
}

button.tab-left,button.tab-right {
    border:1px solid #ccc;
    bottom:-1px;
    cursor:pointer;
    font-size:.9em;
    height:40px;
    position:absolute;
    width:40px;
    padding:4px;
}

button.tab-right {
    border-top-right-radius:3px;
    right:0;
}

code {
    -moz-border-radius:2px;
    -moz-box-shadow:1px 1px 2px #b4b4b4;
    background-color:#fff;
    border-radius:2px;
    border:1px solid #b4b4b4;
    box-shadow:1px 1px 2px #b4b4b4;
    line-height:20px;
    padding:1px 2px;
}

div#header{
    padding-bottom: 0;
}

div#header h1{
    padding: 0;
    margin:0;
}

div#issue-changesets .changeset {
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}

div#issue-changesets .changeset-changes {
    border-top:1px dotted #cf973d;
    padding-top:.75em;
}

div#issue-changesets h3,.controller-wiki div.wiki ul.toc li,div.journal div.wiki,div.wiki blockquote {
    margin:0;
}

div#issue-changesets p {
    margin-bottom:.5em;
}

div.issue table img.gravatar,#watchers img.gravatar {
    -moz-box-shadow:1px 2px 2px #b4b4b4;
    box-shadow:1px 2px 2px #b4b4b4;
}

div.wiki pre {
    -moz-border-radius:3px;
    -moz-box-shadow:1px 2px 2px #b4b4b4;
    background:#F3F3F3 url(../images/bg_code.png) left 3px;
    border-radius:3px;
    box-shadow:1px 2px 2px #b4b4b4;
    line-height:15px;
    white-space:pre-wrap;
    border-color:#b4b4b4;
    margin:0;
    padding:3px;
}

div.wiki table,div.wiki td,div.wiki th {
    border:1px solid #ddd;
    padding:3px;
}

div.wiki ul.toc {
    -moz-border-radius:6px;
    -moz-box-shadow:2px 3px 3px #b4b4b4;
    background:#fdf7bb url(../images/bg_yellow.png) repeat-x;
    border-radius:6px;
    border:1px solid #E4C742;
    box-shadow:2px 3px 3px #b4b4b4;
}

div.wiki ul.toc li li li {
    font-size:inherit;
}

div.wiki ul.toc li li,div.wiki ul.toc li.heading2 {
    margin-left:1em;
}

div.wiki ul.toc li.heading3 {
    margin-left:2em;
}

div.wiki ul.toc li.heading4,div.wiki ul.toc li.heading5,div.wiki ul.toc li.heading6 {
    margin-left:3em;
}

div.wiki ul.toc ul {
    padding-left:.75em;
}

fieldset {
    -moz-border-radius:6px;
    border-radius:6px;
    border-color:#B8D573;
}

form em {
    color:#888;
    font-size:90%;
    font-style:normal;
}

h1,h2,h3,h4,.controller-wiki .wiki h1,.controller-wiki .wiki h2,.controller-wiki .wiki h3,.controller-wiki .wiki h4,.controller-wiki .wiki h5,.controller-news .wiki h1,.controller-news .wiki h2,.controller-news .wiki h3,.controller-news .wiki h4,.controller-news .wiki h5 {
    font-family:Meiryo, "Hiragino Kaku Gothic Pro", "MS PGothic", Verdana, sans-serif;
}

h4 img.gravatar {
    margin-right:.25em;
}

hr {
    background-color:#CF973D;
}

img.gravatar {
    -moz-box-shadow:2px 3px 3px #b4b4b4;
    box-shadow:2px 3px 3px #b4b4b4;
}

input.button-small,input[type="button"] {
    padding:0 6px 4px;
}

input.button-small,input[type="submit"],input[type="button"] {
    -moz-border-radius:6px;
    background:#536a3f url(../images/bg_menu.png) repeat-x;
    border-radius:6px;
    color:#fff;
    border-color:#afc69c #435335 #435335 #afc69c;
    border-width:1px;
}

input[type="submit"] {
    padding:4px 12px;
}

input[type="submit"][disabled="disabled"],button[disabled="disabled"] {
    background:#5e5e5e url(../images/menu_disabled.png);
    border-color:#bababa #4b4b4b #4b4b4b #bababa;
}

input[type="text"] {
    font-family:Osaka-Mono, "MS Gothic", sans-serif;
    font-size:100%;
}

input[type="text"],input[type="password"],select,textarea {
    -moz-border-radius:3px;
    background-color:#fff;
    border-radius:3px;
    border: 1px solid #606060;
    padding:2px;
}

pre code {
    -moz-border-radius:0;
    -moz-box-shadow:none;
    background-color:transparent;
    border-radius:0;
    border:none;
    box-shadow:none;
    line-height:15px;
    padding:0;
}

pre,code {
    font-family:Terminus, Liberation Mono, Courier New, serif;
    font-size:9pt;
}

table.filecontent {
    -moz-border-radius:3px;
    background-color:#F3F3F3!important;
    background-image:url(../images/bg_code.png);
    border-collapse:separate!important;
    border-radius:3px;
    border-spacing:0;
    border-color:#b4b4b4;
}

table.filecontent tbody tr.spacing td {
    background:transparent url(../images/bg_torn.png) repeat-x;
}

table.filecontent td.line-code pre {
    font-family:Meiryo, "Hiragino Kaku Gothic Pro", "MS PGothic", Verdana, sans-serif;
    line-height:15px;
    margin-left:2px!important;
}

table.filecontent th,table.filecontent td {
    padding:0;
}

table.filecontent th.filename {
    background-color:#628DB6!important;
    border:none;
    color:#fff;
    font-family:Meiryo, "Hiragino Kaku Gothic Pro", "MS PGothic", Verdana, sans-serif;
    font-size:9pt!important;
    line-height:15px;
    text-align:center!important;
    padding:0!important;
}

table.filecontent th.line-num,table.filecontent th.filename {
    background-color:#628DB6;
    border:none!important;
    color:#fff!important;
    font-family:Meiryo, "Hiragino Kaku Gothic Pro", "MS PGothic", Verdana, sans-serif;
    font-size:9pt!important;
    line-height:15px;
}

table.list {
    border:1px solid #ddd;
}

table.list tbody tr:hover {
    background-color:#FDF7BB;
}

table.list th {
    padding:2px;
}

table.list thead th,div.wiki th {
    background-color:#628DB6;
    color:#fff;
}

table.progress {
    -moz-box-shadow:1px 2px 2px #b4b4b4;
    box-shadow:1px 2px 2px #b4b4b4;
    border-color:#606060 #d2d2d2 #d2d2d2 #606060;
    border-style:solid;
    border-width:1px;
}

table.progress td {
    height:.5em;
}

table.progress td.closed {
    background:#7ca858 url(../images/bg_progress.png) repeat-x left bottom;
}

table.progress td.done {
    background-color:#E9FACD;
}

table.progress td.todo {
    background-color:#fff;
}

td.subject,td.assigned_to {
    white-space:nowrap!important;
}

textarea.wiki-edit {
    font-family:Osaka-Mono, "MS Gothic", sans-serif;
    font-size:14px;
    letter-spacing:normal;
    line-height:130%;
}

tr.context-menu-selection,tr.context-menu-selection:hover {
    background-color:#628DB6!important;
}

ul.projects {
    padding-left:2em;
}

ul.projects div.child a.project {
    font-family:Meiryo, "Hiragino Kaku Gothic Pro", "MS PGothic", Verdana, sans-serif;
    font-size:10pt;
    font-weight:700;
}

ul.projects div.description {
    margin-top:.5em;
}

ul.projects div.description a.project {
    font-family:Meiryo, "Hiragino Kaku Gothic Pro", "MS PGothic", Verdana, sans-serif;
    font-size:inherit;
    font-weight:inherit;
}

ul.projects div.root a.project {
    font-size:11pt;
    font-family:Meiryo, "Hiragino Kaku Gothic Pro", "MS PGothic", Verdana, sans-serif;
}

ul.projects ul.projects {
    border-left:none;
}