#account {
    overflow:hidden;
    float:none;
    clear:both;
}

#account ul {
    padding-bottom:3px;
}

#activity dt img.gravatar {
    margin:0 .5em .5em 0;
}

#content {
    width:auto!important;
}

#footer {
    font-size:.8em;
}

#header {
    overflow:hidden;
}

#login-form input#username,#login-form input#password {
    width:auto;
}

#login-form table {
    margin-top:1px;
    padding:.25em;
}

#login-form table td {
    padding:0;
}

#main-menu {
    position:static;
    clear:both;
}

#main-menu div.tabs-buttons {
    border-bottom:none;
}

#main-menu div.tabs-buttons button.tab-left,#main-menu div.tabs-buttons button.tab-right {
    bottom:0;
}

#main-menu ul {
    width:2000px;
}

#quick-search {
    margin-bottom:0;
    float:none;
}

#quick-search input {
    width:85%;
}

#quick-search select {
    width:100%;
}

#sidebar {
    float:none;
    width:auto;
    margin-left:7px;
}

#sidebar-toggler {
    background-position:50%;
    cursor:pointer;
    display:block;
    height:16px;
}

#top-menu {
    overflow:hidden;
    height:auto;
}

#top-menu #loggedas {
    text-align:center;
    float:none;
}

#top-menu > ul {
    overflow:hidden;
    margin:3px 0 5px;
}

#wrapper {
    padding-left:0!important;
    background-image:none!important;
    margin:0!important;
}

#wrapper2 {
    padding-right:0!important;
    background-image:none!important;
}

.splitcontentleft,.splitcontentright {
    float:none;
    width:auto;
}

.tabular label {
    float:none;
    width:auto;
    margin-left:0;
    display:block;
    text-align:left;
}

.tabular p {
    padding-left:0;
}

body {
    min-width:inherit;
}

div#activity dl,#search-results {
    margin-left:.5em;
}

html > body #content {
    min-height:inherit;
}

input[type="text"],input[type="password"] {
    max-width:96%;
}

ul {
    padding-left:10px;
}